<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
  JMMidiBassPedalController v3.0
  File: src/Automation/MACOS/technosoft.solutions.run_foot_controller.plist
  By:   Josef Meile <jmeile@hotmail.com> @ 28.10.2020
  This project is licensed under the MIT License. Please see the LICENSE.md file
  on the main folder of this code. An online version can be found here:
  https://github.com/jmeile/JMMidiBassPedalController/blob/master/LICENSE.md

  launchd configuration file to setup the JMMidiBassPedalController as a Daemon
  or an Agent.
-->

<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>technosoft.solutions.run_foot_controller</string>

    <!--
      This will only work if using a LaunchDaemon. LaunchAgents will run as
      the current user, so, this option is unsupported.
    -->
    <!--
    <key>UserName</key>
    <string>your_user</string>
    -->

    <key>ProgramArguments</key>
    <array>
      <string>/Users/your_user/Documents/JMMidiBassPedalController/src/Automation/MACOS/Start_FootController_MACOS_Startup.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/Users/your_user/Documents/JMMidiBassPedalController/src/Automation/MACOS</string>

    <key>StandardOutPath</key>
    <string>status.log</string>

    <key>StandardErrorPath</key>
    <string>error.log</string>
  </dict>
</plist>
